html{
  margin: 0;
  padding: 0;
}

body {
  background-color: #2167a8;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  margin:0;
  height: 100vh;
}
.container {
  display: flex;
  height:100%;
}

.container-sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px;
}

.container-canvas {
  color: white;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

#look-at {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#panel-control {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#Projection-info {
  font-weight: bold;
  color: red;
}

#Shading-info {
  font-weight: bold;
  color: red;
}

#Texture-info {
  font-weight: bold;
  color: red;
}


.options {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.options-label {
  margin-bottom: 10px;
}

.options-projection {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin-bottom: 20px;
}

.translation-options{
    margin: 0 20px 0 0;
}

.options-sliders-container{
    display: flex;
    flex-direction: row;
}

.options-projection select {
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  padding: 0 10px;
}

.options-projection select:focus {
  outline: none;
}

.options-sliders {
  margin: 10px 20px 20px 0px;
  display: flex;
  width:200px;
}
.options-shade-radio {
  display: flex;
  flex-direction: row;
  margin: 10px 0 20px 0;
}

.options-shade-radio input {
  margin: 7px 0;
}

.shade-opt{
    margin: 0 20px 0 0; 
}

#help-btn {
  width: 130px;
  text-align: center;
  background-color: #0e9ebb;
  padding: 10px 0;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 15px;
}

#help-btn:hover {
  background-color: rgb(236, 236, 236);
  color: #0e9ebb;
}

#default-btn {
  width: 130px;
  text-align: center;
  background-color: #d2320a;
  padding: 10px 0;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 15px;
}

#default-btn:hover {
  background-color: rgb(236, 236, 236);
  color: #cc320b;
}

input[type="file"] {
  display: none;
}
#load-btn {
  text-align: center;
  background-color:rgb(8, 130, 45);
  padding: 10px 0;
  border-radius: 10px;
  transition: 0.3s;
  display: inline-block;
  cursor: pointer;
  width: 130px;
  font-size: 15px;
}

#load-btn:hover{
  background-color: rgb(236, 236, 236);
  color: rgb(8, 130, 45);
}

#animate-btn {
  width: 130px;
  text-align: center;
  background-color: #5e13f5;
  padding: 10px 0;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 15px;
}

#animate-btn:hover {
  background-color: rgb(236, 236, 236);
  color: #5e13f5;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: none;
  width: 30%;
  height: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modal-header {
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
  border-bottom: 0.5px solid #ececec;
  padding: 10px 10px 0 10px;
}

.header {
  margin: 10px 10px 10px 10px;
}

.modal-body {
  height: 100%;
  padding: 10px 20px 20px 20px;
  overflow: auto;
}

.close {
  color: black;
  margin-left: auto;
  font-size: 28px;
  font-weight: bold;
  margin-right: 10px;
}

.close:hover {
  color: #0e4580;
  text-decoration: none;
  cursor: pointer;
}

h3 {
  margin: 10px 0px 10px 0px;
  padding: 0;
  font-weight: bold;
}

ul {
  padding-left: 20px;
}

.buttons{
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttons-btn {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

th{
  padding: 0;
  text-align: left;
  font-weight: normal;
}

.option-control{
  margin-top: 50px;
  margin-bottom: 30px;
}

.option-camera{
  padding: 20px;
  height: 100%;
}